.tema{
    text-align: center;
}

.titulo-h1{
    text-align: center;
    text-shadow: 1px 1px 1px #9a9fa5;
}

/* PARRAFO CONTENIDO */

.caja-txt{
    padding: 15px;
    margin: auto;
    width: 50%;
    text-align: justify;
}
